<mat-toolbar color="primary">File uploads</mat-toolbar>
<mat-card>
  <mat-card-title>Upload Your File</mat-card-title>
  <input 
    style="display: none"
    name="fileUpload" id="fileUpload"
    type="file" (change)="onFileSelected($event)" 
    #fileInput>
    <div class="container">
      <div class="button-row">
          <div>{{ fileName }}</div>
        <button mat-raised-button color="primary" (click)="fileInput.click()">
          Select File
        </button>
        <button mat-raised-button color="accent" (click)="onUpload()">
          Upload File
        </button>
      </div>
    </div>
    <mat-progress-bar mode="determinate" [value]="this.percent"></mat-progress-bar>
</mat-card>